<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <td class="footer__main__signature" align="left">
        <!-- @echo fullName --><br />
        <strong> <!-- @echo jobTitle --><br /> </strong>
        <!-- <strong> @echo jobSubtitle<br /> </strong> -->
      </td>
    </tr>
    <tr class="gray-hr">
              <td>
                <div style="height:1px;border-bottom:1px solid #de7c00;margin-bottom: 20px; margin-top: 20px;">&nbsp;</div>
              </td>
    </tr>
    <tr>
      <table class="rbcc footer__main__col1" align="left">
        <td class="footer__main__col1__td" align="left">
          <i>Phone:</i> <strong><a href='tel:+<!-- @echo contactPhoneLink -->''><span><!-- @echo contactPhone --></span></a></strong> | <strong><a href='tel:+<!-- @echo contactPhoneLink2 -->''><span><!-- @echo contactPhone2 --></span></a></strong> | <strong><a href='tel:+<!-- @echo contactPhoneLink3 -->''><span><!-- @echo contactPhone3 --></span></a></strong> | <strong><a href='tel:+<!-- @echo contactPhoneLink4 -->''><span><!-- @echo contactPhone4 --></span></a></strong>
          <br />
          <i>Email:</i>
          <strong>
            <a href="mailto:<!-- @echo contactMail -->" target="_blank"><!-- @echo contactMail --></a>
          </strong>
          <br />
          <!-- @echo contactAddress -->
        </td>
      </table>

      <table class="rbcc footer__main__col2" align="right">
        <td class="footer__main__col2__td" align="right">
          <a href="<!-- @echo website -->">
            <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__col2__td__img" width="190" height="38" />
          </a>
        </td>
      </table>
      <table class="rbcc footer__main gdpr__text">
        <tr>
          <td class="footer__main__signature gdpr__text" align="left">
            <!-- @echo gdprText -->
          </td>
        </tr>
      </table>
    </tr>
  </table>
</td>
